<%= form_with(model: questionnaires_student, local: true) do |form| %>
  <% if questionnaires_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionnaires_student.errors.count, "error") %> prohibited this questionnaires_student from being saved:</h2>

      <ul>
      <% questionnaires_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :questionnaire_id %>
    <%= form.text_field :questionnaire_id, id: :questionnaires_student_questionnaire_id %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :questionnaires_student_student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
