<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @alternative.description %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @alternative.answer %>
</p>

<p>
  <strong>Questionnaire:</strong>
  <%= @alternative.questionnaire %>
</p>

<%= link_to 'Edit', edit_alternative_path(@alternative) %> |
<%= link_to 'Back', alternatives_path %>
